alertmanager:
  enabled: false

grafana:
  enabled: true
  adminPassword: admin123
  service:
    type: LoadBalancer
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

prometheus:
  enabled: true
  prometheusSpec:
    replicas: 1
    retention: 2d
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi

kubeStateMetrics:
  enabled: false

nodeExporter:
  enabled: false

defaultRules:
  create: false
